.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    padding: 150px 420px;
    
}

@media (min-width: 680px) {
    .NavigationItems {
        flex-flow: row;
        padding: 0;
    }
}